*{
    margin: 0;
    padding: 0;
}
.main{
    border: 1px solid black;
}
.main1{
    border: 1px solid black;
    display: flex;
    height: 50px;
    width: 1000px;
}
.logo{
    border: 1px solid black;
    padding-right: 10px;
    

}
.information{
    border: 1px solid black;
    float: left;
}